.chat {
    width: 70%;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.msgs {
    height: 400px;
    border-style: solid;
    border-color: coral;
    border-width: 3px;
    /* display: flex; */
}

.msg {
    display: grid;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* position: absolute; */
    background-color: aqua;
    margin: 5px;
    padding: 5px;
}

.nome {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: initial;
    padding: 0px;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    padding-right: 5px;
}

.texto {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: initial;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
}

.input {
    width: 90%;
}